
:root {
    --bg: cornsilk;
    --accent: lightblue;
    --text: saddlebrown;
    --gen-font-fam: 'Courier New', Courier, monospace;
    --container-max-width: 760px;
}

body {
    font-family:var(--gen-font-fam);
    background: var(--bg);
    
}

.contact-container {
    max-width: var(--container-max-width);
    margin: 0 auto;                     /*pushes equal space on both sides, centering the container horizontally.*/
    padding: 0 2rem;
}

.projects-container {
    max-width: var(--container-max-width);
    margin: 0 auto;
    padding: 0 2rem;
}

#contact h6 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

#contact p {
    font-size: 1rem;
}