
:root {
    --bg: cornsilk;
    --accent: lightblue;
    --text: saddlebrown;
    --gen-font-fam: 'Courier New', Courier, monospace;
}

body {
    font-family:var(--gen-font-fam);
    background: var(--bg);
    
}

.projects {
    max-width: 760px;
    margin: 0 auto;                     /*pushes equal space on both sides, centering the container horizontally.*/

}

#contact h6 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}
